// Importing Normalize from NPM
@import "../../node_modules/normalize.css/normalize.css";
@import "./cold-lib.scss";

@mixin cabin($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Cabin", sans-serif;
}

@mixin old-standard($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Old Standard TT", serif;
}

$midnight-green: #114b5f;
$emerald: #1a936f;
$teal: #88d498;
$grayeen: #c6dabf;
$eggshell: #f3e9d2;
$black: #16161d;
$red: #e63946;
$white: white;

h1 {
  @include cabin($color: white, $size: 36pt);
  margin: 0;
}

h2 {
  @include cabin($color: $black, $size: 24pt);
  margin: 0;
}

body {
  background-color: white;
}

@import "./header.scss";
@import "./employees.scss";
@import "./about.scss";
@import "./manage.scss";
@import "./employee.scss";
@import "./contact.scss";
@import "./create.scss";
@import "./edit.scss";
