.contact {
  padding: 15px;
  p {
    @include cabin($color: $black, $size: 16pt);
  }
  .form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
