.manage {
  padding: 15px;
  overflow-x: auto;
  .create {
    display: block;
    @include cabin($color: $white, $size: 16pt);
    margin: 10px 0;
    padding: 10px;
    background-color: $red;
    width: 200px;
    text-align: center;
    text-decoration: none;
  }
  .employee-table {
    width: 100%;
    border-collapse: collapse;
    tr {
      text-align: center;
      &:nth-child(even) {
        background-color: $teal;
      }
      td {
        @include cabin($color: $black, $size: 16pt);
        button {
          @include button-normalize();
          background-color: $emerald;
          padding: 5px;
        }
      }
    }
  }
}
